<div class="carrusel">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag 'carrousel.jpg', class: 'd-block w-100', alt: 'hablemos de isapres' %>
            <div class="carousel-caption d-md-block">
            <h1 class="caption"> COTIZA CON NOSOTROS</h1>
            </div>
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <%= image_tag 'carrousel.jpg', class: 'd-block w-100', alt: 'hablemos de isapres' %>
          <div class="carousel-caption d-md-block">
            <h1 class="caption"> COTIZA CON NOSOTROS</h1>
            </div>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <%= image_tag 'carrousel.jpg', class: 'd-block w-100', alt: 'hablemos de isapres' %>
          <div class="carousel-caption d-md-block">
            <h1 class="caption"> COTIZA CON NOSOTROS</h1>
            </div>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
      </div>
    </div>
</div>




