
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag 'carousel-1.jpg', class: 'd-block w-100', alt: 'Cotiza con nosotros' %>
            <div class="carousel-caption d-md-block">
            <h4 class="h4-caption"> Cotiza con nosotros</h4>
            </div>
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <%= image_tag 'carousel-2.jpg', class: 'd-block w-100', alt: 'Asesoramiento gratuito' %>
          <div class="carousel-caption d-md-block">
            <h4 class="h4-caption"> Asesoramiento Gratuito</h4>
            </div>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
        <div class="carousel-item">
          <%= image_tag 'carousel-3.jpg', class: 'd-block w-100', alt: 'Planes de salud a tu medida' %>
          <div class="carousel-caption d-md-block">
            <h4 class="h4-caption"> Planes de Salud a tu medida</h4>
            </div>
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
        </div>
      </div>
    </div>





