<div class="container">
    
    <div class="row">
        
        <% @user.each_slice(3) do |row| %>
            
            <% row.each do |user| %>
                
                <div class="col-md-4">
                    <div class="card">
                        <div class="body">
                        <h5> <%= user.name %> <%= user.last_name %> </h5>
                        <%= link_to "Obtener", "#", class: 'btn btn-success' %>
                        </div>
                    </div>
                </div>

            <% end %>

        <% end %>
    
    </div>

</div>