/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

.logo-hablemosdeisapres{
    width: 330px;
}

.logos-isapres{
    width: 120px;

}

 footer{
    background-color: #2F4560;
    bottom: 0;
    color: white;
       
}

footer a{
    color: white;
}

.copyright{
    text-align: center;
    padding-top: 10px;
}

.redes-sociales{
    text-align: center;
}


.btn-whatsapp{
        display: block;
        width: 70px;
        height: 70px;
        color: #fff;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        z-index: 999;
}

.logo-whatsapp{
    width: 50px;
}




