<footer class="footer">
    
    <div class="container">
        
        <div class="row">
            <div class="w-100"> </div>

            <div class="col-md-4">
            </div>    

            <div class=" redes-sociales col-md-4">

                <i class="fab fa-instagram" style="font-size: 45px"></i>
                <i class="fab fa-facebook-square" style="font-size: 45px"></i>
                <i class="fab fa-twitter-square" style="font-size: 45px"></i>

                <div class="copyright col">
                 @ Copyright | todos los derechos reservados
                 <p> Hablemos de Isapres</p>
                </div>
                
            </div>


            <div class="col-md-4">
            </div>


        </div>    
    
        
    
    </div>

</footer>