<footer class="page-footer font-small blue pt-4">
    
    <div class="container">
        
        <div class="row">

            <div class="redes-sociales col-4">
            
            </div>    

            <div class="footer-copyright text-center py-3 col-4">
                 @ Copyright Hablemos de Isapres
            </div>

            <div class="col-4">
                
            </div>
            
        </div>
        
    
    </div>

</footer>