<!-- Botón Whatsapp -->
    <div class="btn-whatsapp">

      <a href="https://wa.me/56965009491/?text= Hola, Hablemos de Isapres. Necesito orientación" target="_blank"> <%= image_tag 'whatsapp.png', class: 'logo-whatsapp', alt: 'logo-whatsapp' %> </a>
      
    </div>
<!-- Fin botón Whatsapp -->